@font-face {
    font-family: AstronomicMono;
    src: url('../fonts/AstronomicMono.otf');
}

.root  {
	-fx-background-color: #000000;
}

.backgroundpane {
	-fx-background-image: url("../images/background.jpg");
}

.info {
	-fx-font-size: 40;
	-fx-font-family: AstronomicMono;
}

.score {
	-fx-fill: #ff0000;
}

.lives {
	-fx-fill: #ff0000;
}

.level {
	-fx-fill: #ff0000;
}

.wall {
	-fx-fill: #2288ff;
}

.wall.ceiling {
	
}

.wall.left {
	
}

.wall.right {
	
}

.paddle {
	-fx-fill: #1e90ff;
	-fx-arc-height: 20px;
	-fx-arc-width: 20px;
	-fx-stroke: white;
	-fx-stroke-type: INSIDE;
	-fx-stroke-width: 1;
}

.paddle.laser {
     -fx-fill: #ff0000;
}

.ball {
	-fx-fill: #1e90ff;
	-fx-stroke: #000000;
}

.lasershot {
	-fx-fill: yellow;
	-fx-stroke: red;
	-fx-arc-height: 5px;
    -fx-arc-width: 5px;
}

.brick {
   -fx-stroke: #000000;
   -fx-stroke-width: 1;
   -fx-stroke-type: INSIDE;
   -fx-effect: innershadow(three-pass-box, white, 2, 0.0, 1, 1);
}

.powerpill {
}

.powerpill_rec {
	-fx-arc-height: 20px;
	-fx-arc-width: 20px;
}

.powerpill_text {
	-fx-fill: #aaaaaa;
	-fx-font-size: 18;
	-fx-font-style: normal;
	-fx-font-weight: bolder;

}

.button {
	-fx-text-fill: #1e90ff;
	-fx-background-color: #333333;
}

.button.play {
	
}

.button.sound {
	
}

.gameover {
	-fx-font-size: 70;
	-fx-fill: #ffd400;
}

.gameprestart {
    -fx-font-size: 35;
    -fx-fill: #ffd400;
}

.gamename {
	-fx-font-family: AstronomicMono;
    -fx-font-size: 100;
    -fx-fill: #ff0000;
}

.table-view {
   -fx-background-color: transparent;
   -fx-font-size: 20;
}

.table-column {
    -fx-size: 12px;
    -fx-padding: 1px;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-width: 0px;
    -fx-border-color: #ffd400;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .label {
    -fx-text-alignment: left;
    -fx-alignment: CENTER_LEFT;
}

.table-view .label .text {
    -fx-opacity: 1.0;
    -fx-font-size: 20;
    -fx-fill: #ffd400;
    -fx-font-style: normal;
    -fx-font-weight: bold;
}

.table-view .table-cell {
    -fx-text-fill: #ffd400;
    -fx-font-size: 20;
    -fx-size: 12px;
}

.table-row-cell {
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
}

.table-view .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .virtual-flow {
    -fx-opacity: 1.0;
}

.table-view .virtual-flow .scroll-bar {
    -fx-background-color: transparent;
    -fx-opacity: 1.0;
    visibility: true;
}

.table-view .virtual-flow .scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-opacity: 0.0;
    visibility: false;
}

.table-view .virtual-flow .scroll-bar .decrement-button:hover,
.table-view .virtual-flow .scroll-bar .increment-button:hover {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .thumb,
.table-view .virtual-flow .scroll-bar .decrement-arrow,
.table-view .virtual-flow .scroll-bar .increment-arrow {
    -fx-background-color: DODGERBLUE;
    -fx-opacity: 0.5;
    visibility: true;
}


.tablebackgroundpane {
    -fx-background-color: black;
    -fx-opacity: 0.7;
}